{% extends "layout.html" %}
{% block content %}

    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts',user_id=user.id)}}">{{ user.username}}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <a href="{{ url_for('posts.post_edit',post_id=post.id) }}" ><button type="button" class="btn btn-outline-info" style="float: right;">edit</button> </a>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}



    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=2) %}
        {% if page_num %}
            {% if posts.page==page_num %}
            <a class="btn btn-info btn-xs" href="{{ url_for('users.user_posts' ,user_id=user.id, page = page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info btn-xs" href="{{ url_for('users.user_posts' ,user_id=user.id, page = page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            <b>...</b>
        {% endif %}
    {% endfor %}
{% endblock content %}

